<!-- Four block banner start -->
<div class="featured-four-banner">
    
  <div class="page-width four-block-banner">
    <div class="slider-wrapper">
      <div class="grid four-banners-flex filter-option-tag">
        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-tag="Holiday Gift Guide">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Red-_-Creative-270_x_270_U50.jpg?v=1637206111" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $50">
            </a>
          </div>
          
          <div class="shop_div">
            <a class="shop_nowbtn">
              Shop Now
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><defs><style>.black_arrow_a{fill:#fff;opacity:0;}.black_arrow_c{fill:#292D36;}</style></defs><g transform="translate(-395 -1235)"><rect class="black_arrow_a" width="28" height="28" transform="translate(395 1235)"/><g class="black_arrow_b" transform="translate(396.512 1237)"><path class="black_arrow_c" d="M21.24-60.059a12.585,12.585,0,0,0,12.5-12.5,12.6,12.6,0,0,0-12.512-12.5A12.59,12.59,0,0,0,8.74-72.559,12.593,12.593,0,0,0,21.24-60.059ZM28.4-72.571a1.144,1.144,0,0,1-.38.833l-4.694,4.681a1.1,1.1,0,0,1-.735.294,1.01,1.01,0,0,1-1.029-1.017,1.053,1.053,0,0,1,.319-.748l1.728-1.691,1.667-1.409-2.953.11H15.137A1,1,0,0,1,14.1-72.571a1.007,1.007,0,0,1,1.042-1.054h7.181l2.953.123-1.667-1.4-1.728-1.716a1.075,1.075,0,0,1-.319-.735,1.01,1.01,0,0,1,1.029-1.017,1.038,1.038,0,0,1,.735.282l4.694,4.694A1.087,1.087,0,0,1,28.4-72.571Z" transform="translate(-8.74 85.059)"/></g></g></svg>
            </a>
          </div>
        </div> 
        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-tag="Steals">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Red-_-Creative-270_x_270_U100.jpg?v=1637206111" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $100">
            </a>
          </div>
          
          <div class="shop_div">
            <a class="shop_nowbtn">
              Shop Now
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><defs><style>.black_arrow_a{fill:#fff;opacity:0;}.black_arrow_c{fill:#292D36;}</style></defs><g transform="translate(-395 -1235)"><rect class="black_arrow_a" width="28" height="28" transform="translate(395 1235)"/><g class="black_arrow_b" transform="translate(396.512 1237)"><path class="black_arrow_c" d="M21.24-60.059a12.585,12.585,0,0,0,12.5-12.5,12.6,12.6,0,0,0-12.512-12.5A12.59,12.59,0,0,0,8.74-72.559,12.593,12.593,0,0,0,21.24-60.059ZM28.4-72.571a1.144,1.144,0,0,1-.38.833l-4.694,4.681a1.1,1.1,0,0,1-.735.294,1.01,1.01,0,0,1-1.029-1.017,1.053,1.053,0,0,1,.319-.748l1.728-1.691,1.667-1.409-2.953.11H15.137A1,1,0,0,1,14.1-72.571a1.007,1.007,0,0,1,1.042-1.054h7.181l2.953.123-1.667-1.4-1.728-1.716a1.075,1.075,0,0,1-.319-.735,1.01,1.01,0,0,1,1.029-1.017,1.038,1.038,0,0,1,.735.282l4.694,4.694A1.087,1.087,0,0,1,28.4-72.571Z" transform="translate(-8.74 85.059)"/></g></g></svg>
            </a>
          </div>
        </div> 
        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-tag="Him">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Red-_-Creative-270_x_270_U300.jpg?v=1637206111" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $300">
            </a>
          </div>
          
          <div class="shop_div">
            <a class="shop_nowbtn">
              Shop Now
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><defs><style>.black_arrow_a{fill:#fff;opacity:0;}.black_arrow_c{fill:#292D36;}</style></defs><g transform="translate(-395 -1235)"><rect class="black_arrow_a" width="28" height="28" transform="translate(395 1235)"/><g class="black_arrow_b" transform="translate(396.512 1237)"><path class="black_arrow_c" d="M21.24-60.059a12.585,12.585,0,0,0,12.5-12.5,12.6,12.6,0,0,0-12.512-12.5A12.59,12.59,0,0,0,8.74-72.559,12.593,12.593,0,0,0,21.24-60.059ZM28.4-72.571a1.144,1.144,0,0,1-.38.833l-4.694,4.681a1.1,1.1,0,0,1-.735.294,1.01,1.01,0,0,1-1.029-1.017,1.053,1.053,0,0,1,.319-.748l1.728-1.691,1.667-1.409-2.953.11H15.137A1,1,0,0,1,14.1-72.571a1.007,1.007,0,0,1,1.042-1.054h7.181l2.953.123-1.667-1.4-1.728-1.716a1.075,1.075,0,0,1-.319-.735,1.01,1.01,0,0,1,1.029-1.017,1.038,1.038,0,0,1,.735.282l4.694,4.694A1.087,1.087,0,0,1,28.4-72.571Z" transform="translate(-8.74 85.059)"/></g></g></svg>
            </a>
          </div>
        </div> 
        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-tag="Her">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Red-_-Creative-270_x_270_U500.jpg?v=1637206111" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $500">
            </a>
          </div>
          
          <div class="shop_div">
            <a class="shop_nowbtn">
              Shop Now
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><defs><style>.black_arrow_a{fill:#fff;opacity:0;}.black_arrow_c{fill:#292D36;}</style></defs><g transform="translate(-395 -1235)"><rect class="black_arrow_a" width="28" height="28" transform="translate(395 1235)"/><g class="black_arrow_b" transform="translate(396.512 1237)"><path class="black_arrow_c" d="M21.24-60.059a12.585,12.585,0,0,0,12.5-12.5,12.6,12.6,0,0,0-12.512-12.5A12.59,12.59,0,0,0,8.74-72.559,12.593,12.593,0,0,0,21.24-60.059ZM28.4-72.571a1.144,1.144,0,0,1-.38.833l-4.694,4.681a1.1,1.1,0,0,1-.735.294,1.01,1.01,0,0,1-1.029-1.017,1.053,1.053,0,0,1,.319-.748l1.728-1.691,1.667-1.409-2.953.11H15.137A1,1,0,0,1,14.1-72.571a1.007,1.007,0,0,1,1.042-1.054h7.181l2.953.123-1.667-1.4-1.728-1.716a1.075,1.075,0,0,1-.319-.735,1.01,1.01,0,0,1,1.029-1.017,1.038,1.038,0,0,1,.735.282l4.694,4.694A1.087,1.087,0,0,1,28.4-72.571Z" transform="translate(-8.74 85.059)"/></g></g></svg>
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<style>
  .featured-four-banner .single-grid-wrapper{
    margin-bottom:20px;
  }
  .featured-four-banner .grid .grid__item .shop_div {
    text-align: right;
    margin-top: -6px;
  }
  .featured-four-banner .shop_nowbtn {
    margin-bottom: 4px;
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1.4px;
    color: #292d36;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c51c15;
    color: #fff;
    padding: 8px 14px;
    border-radius: 5px;
  }
</style>
<!-- Four block banner end -->