{% section 'page-about' %}
<div class="happy_customers_about">
  {% section 'about-happy-cust' %}
</div>
<div class="about">
  {% section 'logo-bar' %}
</div>
<div class="renaissance_banner page-width">
  <img class="small--hide" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-desktop.png?v=1603806166" alt="" />
  <img class="medium-up--hide" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-mobile.png?v=1603806162">
</div>