<div class="page-width static-page-wrapper">
  <div class="grid">
    <div class="grid__item medium-up--one-whole">
      <div class="section-header text-center">
        <h1>
          {{ page.title }}
          <span class="underline"></span>
        </h1>
      </div>
      <div class="rte static-page-content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
