<div id="size-chart-popup" class="overlay BTGO_PopUp">
  <div class="popup-wrapper">
    <div class="popup-header text-center">
      <a href="javascript:void(0);" class="close-popup"><svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="33" height="32"><rect x="16.4995" y="0.346771" width="22.1372" height="22.1372" transform="rotate(45 16.4995 0.346771)" fill="#C4C4C4"/></mask><g mask="url(#mask0)"><path d="M17.1074 16.5065L20.9271 20.3263L20.3195 20.934L16.4997 17.1142L12.68 20.934L12.0723 20.3263L15.892 16.5065L12.0723 12.6868L12.68 12.0791L16.4997 15.8989L20.3195 12.0791L20.9271 12.6868L17.1074 16.5065Z" fill="#575555" stroke="#575555"/></g></svg></a>
    </div>
    <div class="popup-content">
      <div class="image__wrapper">
        <img class="lazyload js" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/PopOUT__BG.jpg?v=1637639208" 
        data-widths="[180, 360, 540, 720, 900]"
        data-sizes="auto">
      </div>
      <div class="text_content">
        <p class="main-content">You're so close to getting our <span>Black Friday</span> Offer!</p>
        <div class="BF_logo"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/B2G1__unit.png?v=1637639208"></div>
        <p class="sub_text">Just add <span data-bfcount>3</span> more <span>products</span> to cart to avail the discount. Offer applied directly in cart.</p>
        <a class="btgo_btn" >Continue Shopping</a>
      </div>
    </div>
  </div>
</div>