<div class="birthstone_collection_content">
  {% if collection.handle == 'january-garnet-birthstone-jewelry' %}
  <p>The beautiful and diverse Garnet is the birthstone for all those born in January. Most commonly seen are the red variants, but Garnets are also available in orange, yellow, and purple. Said to bring the wearer good health, wealth, and happiness, Garnets promote creative thinking and peace of mind. They make a great gift for those born in January and are also an ideal addition to your 2nd-anniversary celebration!</p>
  {% endif %}  
  {% if collection.handle == 'february-amethyst-birthstone-jewelry' %}
  <p>Capturing hearts with its dazzling color, the striking purple Amethyst is the birthstone for all those born in February. In beautiful lilac to deep purple hues, the Amethyst comes in many shapes and sizes and can also be artificially created in a lab as can be naturally mined. Applauded for its elegant beauty amongst the collections of many royal families, the Amethyst is considered a symbol of empowerment and strength and makes for a lovely 6th-anniversary present.</p>
  {% endif %}
  {% if collection.handle == 'march-aquamarine-birthstone-jewelry' %}
  <p>The beautiful blue Aquamarine evokes the colors of the sea and is the birthstone for all those born in March. Ranging from deep green to blues, from slightly green to bluish-green, the Aquamarine is often free from inclusions and reminds you of clean and pure water. Symbolizing the purity of spirit and soul, the Aquamarine is known to protect one’s well-being and can also be presented on a 19th-anniversary celebration.</p>
  {% endif %}
  {% if collection.handle == 'april-diamond-birthstone-jewelry' %}
  <p>Sparkling with an internal fire that is all its own, the diamond is one of the world’s most sought-after, adored, and expensive gemstones especially when it comes to a wedding or engagement ring. The birthstone of April, diamonds offer a brilliance like no other. Scintillating and sparkling, the diamond is a symbol of clarity, strength, and of course eternal love. Colored or colorless, large or small, the valuable diamond is also the ideal gift of choice for the 60th and 75th wedding anniversaries.</p>
  {% endif %}
  {% if collection.handle == 'may-emerald-birthstone-jewelry' %}
  <p>The world's most popular green gem, Emerald is the birthstone for the month of May. Ranging in color from slightly yellowish-green, to pure green, to slightly bluish-green, pure green emeralds are the most popular and valuable. A symbol of rebirth, emeralds are believed to grant the owner foresight, good fortune, and youth. An ideal gift for a 20th or 35th wedding anniversary, these stones elevate a minimalistic outfit with style.</p>
  {% endif %}
  {% if collection.handle == 'june-pearl-birthstone-jewelry' %}
  <p>A timeless wardrobe staple, this enchanting June birthstone originates from oceans, lakes, and rivers around the world. A favorite amongst women of all ages, pearls have long been associated with purity, humility, and innocence. The birthstone for June symbolizes plenty of personality traits ranging from wisdom, purity, and wealth. Pearls have been wildly popular in jewelry for centuries because of their natural beauty and make for a great wedding gift.</p>
  {% endif %}
  {% if collection.handle == 'july-ruby-birthstone-jewelry' %}
  <p>The world's most popular and coveted red gem, ruby means “red” and is the color of love and passion. Ruby is the birthstone for the month of July and the finest color of this birthstone is a deep red with a hint of purple, called “pigeon’s blood” in the trade. Rubies range in color from orangy-red to red, to slightly purplish-red. Known for its hardness, beauty and as a symbol of power and youthful energy, rubies are also known to soothe anger. In addition to being the July birthstone, ruby is traditionally given for the 15th and 40th wedding anniversaries.</p>
  {% endif %}
  {% if collection.handle == 'august-peridot-birthstone-jewelry' %}
  <p>The world’s most popular and affordable green gem, Peridots form deep inside the Earth’s mantle and are brought to the surface by volcanoes. The traditional birthstone for the month of August, Peridot’s signature green color comes from the composition of the mineral itself—rather than from trace impurities, as with many gemstones. Associated with prosperity and good fortune, this August birthstone was valued in many ancient and medieval cultures. Though it is known as “the Evening Emerald” because of its sparkling green hue, Peridot looks good whether day or night and is the gem given to celebrate a 16th wedding anniversary.</p>
  {% endif %}
  {% if collection.handle == 'september-sapphire-birthstone-jewelry' %}
  <p>A gem that’s been cherished for thousands of years, the September birthstone is the beautiful Sapphire. Although the term sapphire usually refers to the blue variety of corundum, this birthstone comes in a rainbow of other colors. The September birthstone has traditionally symbolized sincerity, truth, faithfulness and nobility. For countless centuries, Sapphires have adorned royalty and the robes of the clergy and it was believed that Blue Sapphires protected their owners from harm and envy and is reputed to have healing powers as well. Sapphires make stunning gifts for anyone born in September or celebrating a 5th or 45th wedding anniversary.</p>
  {% endif %}
  {% if collection.handle == 'october-tourmaline-birthstone-jewelry' %}
  <p>The newer October birthstone, the Tourmaline means “stone with mixed colors,” because it often has multiple colors in one crystal. Very few gems match tourmaline’s dazzling array of colors. Known to inspire artistic expression – it has a color palette for every mood. Different colors of tourmaline are thought to have their own healing properties. Black tourmaline is believed to protect the wearer and give a sense of self-confidence. Pink tourmaline embodies love and is associated with compassion and gentleness. Green Tourmaline promotes courage, strength, and stamina. Tourmaline is given to celebrate the 8th wedding anniversary.</p>
  {% endif %}
  {% if collection.handle == 'november-citrine-birthstone-jewelry' %}
  <p>This November birthstone is a variety of quartz that ranges from pale yellow to a honey orange color and has been used in jewelry for thousands of years. Popular as a stone that soothes tempers and calms the wearer, it is a popular and pretty gemstone. One of the most desired yellow gemstones, the word Citrine is believed to originate from the French word for “lemon” (citron) and is an ideal gift given to celebrate the 13th wedding anniversary.</p>
  {% endif %}
  {% if collection.handle == 'december-tanzanite-birthstone-jewelry' %}
  <p>The exquisite blue-purple gemstone, Tanzanites are named for its limited geographic origin in Tanzania. One of the most exciting gems owing to its striking color, the tanzanite birthstone is often described as “velvety,” mostly because of its deep and saturated color, which ranges from a pure rich blue to violet, with the blue considered most valuable. Believed to have the power to transform negative thoughts and energies into positive ones, it is also the gem gifted on a 24th wedding anniversary</p>
  {% endif %}
</div>