<!-- Four block banner start -->
<div class="featured-four-banner">
    
  <div class="page-width four-block-banner">
    <div class="slider-wrapper">
      <div class="grid four-banners-flex filter-option-tag">
        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-child="1">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Holiday_Gifting_30NOV_-270x270_STEAL.jpg?v=1638522485" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $50">
            </a>
          </div>
        </div> 

        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-child="2">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Holiday_Gifting_30NOV_-270x270_P-GIFTS.jpg?v=1638522485" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $100">
            </a>
          </div>
        </div> 

        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-child="3">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Holiday_Gifting_30NOV_-270x270_-FOR-HER.jpg?v=1638522485" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $300">
            </a>
          </div>
        </div> 

        <div class="single-grid-wrapper grid__item small--one-half medium-up--one-quarter" data-child="4">
          <div class="js hover_image">
            <a class="custom__image__wrapper">
              <img class="lazyload image_scale" 
              data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Holiday_Gifting_30NOV_-270x270_HIM.jpg?v=1638522485" 
              data-widths="[142, 200, 210, 380]"
              data-sizes="auto" 
              alt="Gift Under $500">
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<style>
  .featured-four-banner .single-grid-wrapper{
    margin-bottom:20px;
    cursor: pointer;
  }
</style>
<!-- Four block banner end -->