<div id="birthstone_page">
  <div class="breadcrumb">{% render 'breadcrumbs' %}</div> 
  {% section 'birthstone_banner' %}
  {% section 'birthstones_by_month' %}
  {% section 'learn_birthstone' %}
</div>