<div class="holiday_giveaway">
  <div class="page-width">
    <div class="banner">
      <img class="lazyload small--hide" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Lead-Generating-_-Page_1688x547_ed5fe97f-2ab9-440e-a99f-d75d48066c81.jpg?v=1639023133" />
      <img class="lazyload medium-up--hide" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Lead-Generating_Page_M_PLP-_600-x-260.jpg?v=1639033257">
    </div>
    <div class="klaviyo_wrapper">
      <div class="klaviyo-form-XiMeEQ"></div>
      <div class="hide" data-loader>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner" viewBox="0 0 20 20"><path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" fill="#919EAB"></path></svg>
      </div>
    </div>
  </div>
</div>
<style>
  .template_holiday_christmas_givaway #conversions_layers_root{display:none !important;}
  .holiday_giveaway .banner{margin: 0px auto 30px; text-align: center;}
  .section-header{display:none;}
  .needsclick.klaviyo-form input[type="text"],.needsclick.klaviyo-form input[type="email"]{
    padding: 0px 0px 0px 10px !important;
  }
  .klaviyo_wrapper{
    position:relative;
    width: 100%;
    height: 445px;
    max-width: 500px;
    margin:0 auto;
  }
  div[data-loader]{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    height:100%;
    border: 3px solid #000000;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div[data-loader] svg{width:50px;height:50px;}
</style>